<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div id="homepage">
<div id="home">
    <h1>Inventory Prototype System</h1>
    <a class="homebutton" href="product/addProduct">Add a Product</a><a class="homebutton" href="product/view">View Products</a>
</div>
</div>
</body>
</html>