<!DOCTYPE html>
<html>
<body>

<div id="home">
    <h1>Inventory Prototype System</h1>
    <a href="product/addProduct">Add a Product</a><a href="product/view">View Products</a>
</div>

</body>
</html>