<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 
    <div class="aelayout">
        <h1>Add Product</h1>
           {{#each error}}

    <div class="errors">{{this}}</div>

    {{/each}}
    <div id="Add Form">
      <form action="/product/addProduct" method="POST" id="addform">
          <p class="inputdesc">Product Title:</p>  <input class="inputf" type="text" name="pTitle" required><br>
          <br><p class="inputdesc">Product Price:</p> <input class="inputf" type="text" name="pPrice" required><br>
          <br><p class="inputdesc">Quantity On Hand:</p> <input class="inputf" type="text" name="pQuantityOnHand" required><br>
          <br><p class="inputdesc">Product Description:</p> <textarea class="inputf" form="addform" name="pDescription" required></textarea><br>
          <br><p class="taxdesc">Taxable Item</p> <span id="yess">Yes</span><input id="yessbutt" type="radio" name="pTax" value="true" required>
          <span id="noo">No</span><input  type="radio" name="pTax" value="false" required> <br>

          <br><input type="submit" value="Add Product">
      </form>
      <a href="/"><button id="cancel">Cancel</button></a>
    </div>
</div>
</body>
</html>