<h1>Product Listing</h1>
 
 <section class="products-container">
     {{#each lists}} 
     <div>
        {{this.productTitle}} &nbsp;&nbsp;
        <a href="/product/edit/{{this._id}}">Edit</a>&nbsp;&nbsp;
    </div>
    {{else}}
        No tasks in database 
     {{/each}}
</section>

<div id="tasks-links-holder">
    <a href="/">Home</a>
</div>