<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="products-view">
<h1>Product Listing</h1>
 
 <section class="products-container">
     {{#each lists}} 
     <div id="viewP">
        <span class="products-view-name">{{this.productTitle}}</span> 
        <a class="editbutt" href="/product/edit/{{this._id}}">Edit</a>
    </div>
    {{else}}
        No tasks in database 
     {{/each}}
</section>

<div id="tasks-links-holder">
    <br>
    <a href="/">Home</a>
</div>
</div>
</html>